.choice-card {
  width: 90%;
  text-decoration: none;
  font-weight: 100;
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: end;
  padding: 10px 20px;
  background: linear-gradient(
    225deg,
    rgba(39, 28, 255, 1) 0%,
    rgba(112, 148, 255, 1) 60%,
    rgba(0, 22, 224, 1) 100%
  );
  border-radius: 32px;
  margin: 30px 20px;
  box-shadow: 1px 1px 2px #fff;
}

.choice-card div {
  width: 100%;
}

.reverse {
  flex-direction: row-reverse;
}

.choice-card h2 {
  font-weight: 300;
  color: #fff;
  text-align: center;
  margin-bottom: clamp(5px, 2vw, 10px);
  font-size: clamp(20px, 5vw, 24px);
}

.choice-card p {
  color: #fff;
  text-align: justify;
  font-size: clamp(14px, 3.6vw, 18px);
  font-weight: 200;
  padding-bottom: 5px;
}

.saiba-mais {
  color: #fff;
  text-align: center;
  padding-top: clamp(5px, 2vw, 10px);
  font-weight: 500;
}

.choice-img {
  margin-top: -40px;
  width: 40%;
}

@media (min-width: 450px) {
  .choice-card {
    width: 400px;
  }
}
