.choiceCard {
  width: 90%;
  text-decoration: none;
  font-weight: 100;
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: end;
  padding: 10px 20px;

  background: linear-gradient(
    225deg,
    rgba(204, 0, 0, 1) 0%,
    rgba(255, 102, 102, 1) 60%,
    rgba(204, 0, 0, 1) 100%
  );
  border-radius: 32px;
  margin: 40px 20px 0;
  box-shadow: 1px 1px 15px #f8be00;
}

.choiceCardDiv {
  width: 100%;
}

.reverse {
  flex-direction: row-reverse;
}

.choiceTitle {
  font-weight: 300;
  color: #fff;
  text-align: center;
  margin-bottom: clamp(5px, 2vw, 10px);
  font-size: clamp(20px, 5vw, 24px);
}

.choiceDescription {
  color: #fff;
  text-align: justify;
  font-size: clamp(14px, 3.6vw, 18px);
  font-weight: 200;
  padding-bottom: 5px;
}

.saibaMais {
  color: #fff;
  text-align: center;
  padding-top: clamp(5px, 2vw, 10px);
  font-weight: 500;
}

.choiceImg {
  margin-top: -40px;
  width: 40%;
}

@media (min-width: 450px) {
  .choiceCard {
    width: 400px;
  }
}
