main {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  width: 100%;
  background-color: #000;
}

.hero_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  justify-content: space-around;
  width: 100%;
  background-color: #000;
}

.hero_title {
  margin-bottom: 40px;
  text-transform: uppercase;
  font-size: 24px;
}

.hero_img {
  margin: 20px auto 15px;
  width: 155px;
  border-radius: 50%;
  border: none;
  box-shadow: 1px 1px 15px #f8be00;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000000;
  color: #fff;
}

.footer p {
  text-align: center;
  padding: 20px 0;
}
