main {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  width: 100%;
  background-color: #000;
}

.hero_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  background-color: #000;
}

.hero_title {
  margin-bottom: 40px;
  text-transform: uppercase;
  font-size: 24px;
}

.hero_img {
  margin: 50px auto 15px;
  width: 155px;
  border-radius: 50%;
  border: 2px solid #919191;
  box-shadow: 2px 2px 5px #919191;
}

.choice-card {
  width: 90%;
  text-decoration: none;
  font-weight: 100;
  display: grid;
  grid-template-columns: 40% 60%;
  gap: 16px;
  align-items: center;
  justify-content: end;
  padding: 10px 20px;
  background: linear-gradient(
    225deg,
    rgba(39, 28, 255, 1) 0%,
    rgba(112, 148, 255, 1) 60%,
    rgba(0, 22, 224, 1) 100%
  );
  border-radius: 32px;
  margin: 30px 20px;
}

.choice-content {
  width: 100%;
}

.choice-card h2 {
  font-weight: 300;
  color: #fff;
  text-align: center;
  margin-bottom: clamp(5px, 2vw, 10px);
  font-size: clamp(20px, 5vw, 24px);
}

.choice-card p {
  color: #fff;
  text-align: justify;
  font-size: clamp(16px, 3.6vw, 18px);
  font-weight: 200;
}

.saiba-mais {
  color: #fff;
  text-align: center;
  padding-top: clamp(5px, 2vw, 10px);
  font-weight: 500;
}

.choice-img {
  margin-top: -40px;
  width: 100%;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000000;
  color: #fff;
}

.footer p {
  text-align: center;
  padding: 20px 0;
}

@media (min-width: 450px) {
  .choice-card {
    width: 400px;
  }
}
