main {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  width: 100%;
  background-color: #000;
}

.hero_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  background-color: #000;
}

.hero_title {
  margin-bottom: 40px;
  text-transform: uppercase;
  font-size: 24px;
}

.hero_img {
  margin: 50px auto 15px;
  width: 155px;
  border-radius: 50%;
  border: 2px solid #919191;
  box-shadow: 2px 2px 5px #919191;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000000;
  color: #fff;
}

.footer p {
  text-align: center;
  padding: 20px 0;
}
